<!DOCTYPE html>
<html>
    <head>
        <title>Instacare</title>
    </head>
    <body>
		<h1>Instacare</h1>

        <table>
		    <tr>
		    <th style="text-align:left">Username: <td>{{user.username}} 
		</table>

        <form action='logout/' method="POST">
		    {% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <ul>
            {% for message in messages %}
            <li>
                <p>From {{message.source.username}}, To {{message.target.username}}</p>
                <p>{{message.content|safe}}</p>
                <!-- Fix XSS Injection -->
                <!-- <p>{{message.content}}</p> -->
            </li>
            {% endfor %}
        </ul>
        <a href="/messages/{{user.id}}/">View all messages</a>

        <form action="add/" method="POST" enctype="multipart/form-data">
            {% if is_alice %}
                To:
                <select name="to">
                {% for user in users %}
                    <option value="{{user.username}}">{{user.username}}</option>
                {% endfor %}
                </select><br>
            {% endif %}

			<textarea name="content" cols="40" rows="5"></textarea><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
